.form{
    background-color: rgb(75, 75, 159);
    padding: 1rem 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;
    h1{
        text-align: center;
    }
    .form-control{
        background-color: rgb(236, 230, 230);
    }
}