.navigationBar{
    background-color: rgb(209, 208, 208);
    .navbar-brand{
        padding-right: 2rem;
        color: rgb(48, 16, 177);
        font-family:cursive;
        text-decoration: underline;
    }
}