.navigationBar{
    background-color: rgb(209, 208, 208);
    .navbar-brand{
        padding-right: 2rem;
        color: rgb(48, 16, 177);
        font-family:cursive;
        text-decoration: underline;
    }
    .img{
        max-height:4em;
    }
    form{
        display: flex;
        max-height: 2em;
        input{
            max-width: 10em;
            border-radius: 1rem;
        }
    }
    button{
        border-radius: 2rem;
        padding: 0 1rem;
        margin-left: 0.5rem;
        overflow:hidden;
        max-height: 2rem;

    }
}